
// Margin top

.mt1 {
    margin-top: .2em;
}

.mt10 {
    margin-top: 1.5em;
}

.mt20 {
    margin-top: 3em;
}

.mt30 {
    margin-top: 4.5em;
}

// Margin bottom

.mb10 {
    margin-bottom: 1.5em;
}