@import "./mescss.scss";

$bg-primary: #f8f9fa;
$bg-primary-2: hsl(210, 17%, 93%);
$bg-secondary: hsl(0, 0%, 91%);

$txt-primary: hsl(240, 5%, 12%);

$clr-txt-50: #25324a;
$clr-txt-100: #344767;
$clr-txt-200: hsl(240, 5%, 17%);
$clr-txt-250: hsl(240, 5%, 30%);
$clr-txt-300: #67748e;
$clr-txt-400: hsl(240, 5%, 30%);
$clr-txt-600: hsl(240, 5%, 45%);
$clr-txt-800: hsl(240, 5%, 60%);

$clr-gray-100: hsl(0, 0, 80%);
$clr-gray-200: hsl(0, 0, 70%);

$green-100: hsl(120, 39%, 54%);
$green-200: hsla(120, 39%, 54%, 0.719);

$font-lato: 'Lato', sans-serif;
$font-opensans: 'Open Sans', sans-serif;

$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-3: rgba(149, 157, 165, 0.05) 0px 8px 24px;
$shadow-4: rgba(0,0,0,.05) 0 20px 27px 0;

.mt-2 {
    margin-top: 20px;
}